In [2]:
# print 0 to 20 by using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
# print range 10 to 20
for num1 in range(10,20):
    print(num1)

10
11
12
13
14
15
16
17
18
19

In [4]:
# Print number of items in the list by using 'len'
List2 = [10, 20, 14, 55, 43, 87, 76]
NumOfItems = len(List2)
print("Number of item in the List2:",NumOfItems)

Number of item in the List2: 7

In [8]:
#Split String into characters
string = "Artificial Intelligence"
for splitChar in list(string):
    print(splitChar)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [23]:
#Inserting Characters to start and end of the string
#-Your Name-
#-Your Age-
#-Your Profession-

strName= input("Enter your Name :")
intAge = int(input("Enter your Age :"))
strProfession = input("Enter your Profession:")    
print("-" + strName + "-")
print("-" + str(intAge) + "-")
print("-" + strProfession + "-")

Enter your Name : Kaviya Sindhu
Enter your Age : 33
Enter your Profession: Developer

-Kaviya Sindhu-
-33-
-Developer-

In [24]:
#Tuples - (1, 'Welcome', 2, 'Hope')
Tuple = (1, 'Welcome', 2, 'Hope')
print(Tuple)

(1, 'Welcome', 2, 'Hope')

In [25]:
#((0, 1, 2, 3), ('python', 'HOPE'))
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [26]:
# print Odd Numbers in the list
#(20,10,16,19,25,1,276,188)
list=(20,10,16,19,25,1,276,188)
for num in list:
    if(num % 2 == 1):
        print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [27]:
# print Even Numbers in the list
#(20,10,16,19,25,1,276,188)
list1=(20,10,16,19,25,1,276,188)
for num1 in list1:
    if(num1 % 2 == 0):
        print(num1,"is Even")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even