In [11]:
#Getting Student Marks
import pymongo

#create Database
myclient=pymongo.MongoClient("mongodb://localhost:27017")
mydb = myclient["mystudendatabase"]

#Create Collection
mycol = mydb["students"]

In [108]:
#Getting Student Details
numofStudents = int(input("Enter Number of Students :"))
for x in range(numofStudents):
    studentid = input("Enter Student ID : ")
    studentname = input("Enter Student Name : ")
    mark1 = int(input("Enter Mark1 : "))
    mark2 = int(input("Enter Mark2 : "))
    mark3 = int(input("Enter Mark3 : "))
    mark4 = int(input("Enter Mark4 : "))
    mark5 = int(input("Enter Mark5 : "))

    total =  int(mark1 + mark2 + mark3 + mark4 + mark5)
    percentage = int(total / 5)

    if list(mycol.find({"studentid": {"$eq" : studentid}})):        
        mycol.update_one({"studentid" : studentid},
                         {
                            "$set" : {"studentname" : studentname, 
                            "Mark1" : mark1, 
                            "Mark2" : mark2, 
                            "Mark3" : mark3, 
                            "Mark4" : mark4, 
                            "Mark5" : mark5, 
                            "Total" : total, 
                            "Percentage" : percentage, 
                            "Result" : "" }
                         })        
    else:
        mydict = {"studentid" : studentid, "studentname" : studentname, "Mark1" : mark1, "Mark2" : mark2, "Mark3" : mark3, "Mark4" : mark4, "Mark5" : mark5, "Total" : total, "Percentage" : percentage, "Result" : "" }
        dbinsert=mycol.insert_one(mydict)

Enter Number of Students : 1
Enter Student ID :  4
Enter Student Name :  Tanvi
Enter Mark1 :  77
Enter Mark2 :  88
Enter Mark3 :  56
Enter Mark4 :  67
Enter Mark5 :  88

In [109]:
#Select Values from Database
for col in mycol.find({}, {"_id": 0, "studentid":1, "Mark1": 1, "Mark2": 1, "Mark3": 1, "Mark4": 1, "Mark5": 1}):
    dbstudentid = col["studentid"]
    dbMark1 = int(col["Mark1"])
    dbMark2 = int(col["Mark2"])
    dbMark3 = int(col["Mark3"])
    dbMark4 = int(col["Mark4"])
    dbMark5 = int(col["Mark5"])
    
    myquery={"studentid" : dbstudentid}
    if(dbMark1 < 35 or dbMark2 < 35 or dbMark3 < 35 or dbMark4 < 35 or dbMark5 < 35):        
        newvalues = {"$set" : {"Result" : "FAIL"}}
        mycol.update_one(myquery,newvalues)        
    else:
        newvalues = {"$set" : {"Result" : "PASS"}}        
        mycol.update_one(myquery,newvalues)

In [110]:
#Print Student Details
print("STUDENT DETAILS")
for col1 in mycol.find():
    print("\nStudent ID :", col1["studentid"] +
          "\nStudent Name : " + col1["studentname"] ,
          "\nMark1 : ", col1["Mark1"],
          "\nMark2 : ", col1["Mark2"],
          "\nMark3 : ", col1["Mark3"],
          "\nMark4 : ", col1["Mark4"],
          "\nMark5 : ", col1["Mark5"],
          "\nTotal : ", col1["Total"],
          "\nPercentage : ",col1["Percentage"],
          "Result:", col1["Result"], "\n")

STUDENT DETAILS

Student ID : 1
Student Name : Kaviya
Mark1 :  98
Mark2 :  87
Mark3 :  78
Mark4 :  67
Mark5 :  55
Total :  385
Percentage :  77 Result: PASS


Student ID : 2
Student Name : Durga
Mark1 :  34
Mark2 :  44
Mark3 :  55
Mark4 :  66
Mark5 :  78
Total :  277
Percentage :  55 Result: FAIL


Student ID : 3
Student Name : Usha
Mark1 :  45
Mark2 :  67
Mark3 :  44
Mark4 :  56
Mark5 :  78
Total :  290
Percentage :  58 Result: PASS


Student ID : 4
Student Name : Tanvi
Mark1 :  77
Mark2 :  88
Mark3 :  56
Mark4 :  67
Mark5 :  88
Total :  376
Percentage :  75 Result: PASS